#secondary .left-sidebar {
	.icon-top {
	    .icon-wrapper {
			text-align: center;
			display: inline-block;
		}
		.icon-box-content-wrapper {
	    	width: 100%;
	    	text-align:center;
	    }
	}
	.icon-box {
		.icon-box-content {
    		padding-bottom:20px;
    	}
    	.icon-wrapper {
    		padding:10px;
    	}
	}
}