/* Recent-work, Portfolio navigation */

ul.filter-options {
  padding:10px;
  margin: 1%;
  list-style-type: none;
  text-align: center;
  li {
    margin: 0;
    padding-left: 0;
    display: inline;
    border-bottom: 0;
    margin-right: 15px;
    &:last-child {
        margin-right:0;
    }
  
    a {
        display: inline-block;
        padding-bottom: 0;
        padding: 8px 25px;
        text-transform: uppercase; 
        color: $secondary;
        font-weight:600;
        position: relative;
        @include font-size(1.6);
 
    }

    a:hover,.selected {
      color: $secondary;  
      background:$primary;
    }
  }
}

#filters {
  padding: 20px 0 10px !important;
  margin-bottom: 25px;
  min-height: 50px;
  clear: both; 
  margin-top: 50px;
}




.recent-work-carousel {
    .recent-work {
      position:relative;
    }
   .recent_work_overlay {
     display: none;
  }
  li {
    position:relative;
    a {
      img {
        display:block;
      }
    }
    .work-title {
      h4 {
        position:absolute;
        font-size:16px;
        font-weight:500;
        padding:8px 0px;
        background:rgba($black,0.6);
        bottom:0px;
        margin-bottom:0px;
        text-align:center;
        width:100%;
        a {
           color:$white !important;
        }
      }
    }
  }
  .flex-direction-nav {
    li {
      border: 0 !important;
      padding: 0;
      position:static;
    }

    a {
      margin: 0;
      text-align: center;
      top: 39%;    
      opacity:1;
      overflow: visible;    
      @include size(45px, 45px);
      @include font-size(0);
      line-height: 45px;
      background: $secondary; 
      &:before {
        @include font-size(2.5);
        font-weight:700;
        color: $white;
        font-family: "FontAwesome";
      }
      &:hover {
        background-color: $primary;
        &:before {
          color: $secondary;
        }       
      }     
    }

    a.flex-prev {
      left:0px;
      &:before {
        content:"\f104";
      } 
      &:after {
        left: 5px;
      }    
    }

    a.flex-next {
      text-align: center;
      right:0px;
       &:before {
        content:"\f105";
      } 
      &:after {
        right: 5px;
      } 
    }


  }
}

@import "footer";

@import "sidebar";                                                                                                                   