.so-widget-list-widget {
	.sow-icon-fontawesome,.list-image {
	   padding-right:10px;	
	   vertical-align: middle;
	   color:$primary;
	}
	ul,ol {
		list-style-type: none;
		margin: 0;
		li {
			padding: 5px 0px;
			border-bottom:none;
		}
	}
} 


@import "footer";

@import "sidebar";