.left-sidebar {
	.widget_quote-widget {
		.pullnone {
			padding: 20px;
			p {
				margin-bottom: 0;
				line-height: 1.3;
			}
		}

		.pullleft, .pullright {
			padding: 20px 10px;
			width: 100%;
			p {
				margin-bottom: 0;
				line-height: 1.3;
			}
		}
	}
}